<div class="text-center">
  <div class="margin-bottom-50px margin-top-50px" >
    <h2>{{ produto.nome }}</h2>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="../../../../../Arquivos/{{ produto.nomeArquivo }}" />
    </div>
    <div class="col-12 col-md-6">
      <div>
        <h5 style="font-weight:400; font-size:17px;">{{ produto.descricao }} </h5>
      </div>
      <div class="margin-top-25px">
        <h4>R$ {{ produto.preco }} </h4>
      </div>
      <div class="margin-top-25px">
        <button class="btn btn-success input-style" (click)="comprar()">Comprar</button>
      </div>
    </div>
  </div>
</div>
